.task {
    border-radius: 0 0 0.4rem 0.4rem;

    background: linear-gradient(#838181 0%, #C9C9C9 40%, #BFA75D 100%);

    padding: 2px;
    margin: 0.5rem; 
}

.task-inner {
    border-radius: 0 0 0.2rem 0.2rem;
    background: #505050;

    padding: 0.2rem;
    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.completed {
    margin: 0.2em;
    padding: 0;
    height: 1.5em;
    width: 1.5em;
    border: 2px solid #202528;
    border-radius: 0.2rem;
    background: white;
}

.completed:hover {
    background: lightgray;
}

textarea:focus {
    outline: none;
}

.task-title {
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: left;
    background: transparent;

    color: #C9C9C9;
}

.task-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 0.2rem;
}

.task-body-line {
    border-width: 0.2rem 0 0 0;
    border-style: solid;
    border-image: 
        linear-gradient(
            to right, #505050 0%, #C9C9C9 50%, #505050 100%
        ) 1;
}

button {
    background: transparent;
}

button:hover {
    cursor: pointer;
}

.task-description {
    background: #606060;
    border: 1px solid #222;
    border-radius: 0.2rem;

    font-size: 1.2rem;
    padding: 0.4rem;
    margin-top: 0.05rem;
    color: #C9C9C9;
}

.task-description-label {
    color: white;
    font-size: 1rem;
    margin-top: 0.2rem;
}

.sub-tasks {
    border: 1px solid #222;
    border-radius: 0.2rem;
    height: auto;
    margin-top: 0.5rem;
    padding: 0.2rem;
}

.sub-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 3px;
}

.sub-menu .left-buttons {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
}

.sub-menu .left-buttons button ~ button {
    margin-left: 0.3rem;
}

.sub-menu .right-buttons {
    justify-content: flex-end;
}

.sub-menu button {
    padding: 0.2rem;
    border: 2px solid #838181;
    background-color: dimgray;
    border-radius: 0.2rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-menu button:active {
    background-color: #838181;
}

.sub-menu button .icon {
    color: lightgray;
    font-size: 1.2rem;
    line-height: 1.2rem;
}