* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background-image: linear-gradient(to bottom right, #C5CBE3, #EFE2BA);
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    background-color: transparent;
    cursor: pointer;
}

.icon {
    background: white;
    transition: background-color 0.2s;
}

.icon:hover {
    background: lightgray;
}

.icon:active {
    background: white;
}